.container {
    margin-top: 30px;
}

.onlyOdd {
    color: navy;
    background-color: lightgreen;
    border: 2px solid darkgreen;
    margin: 10px;
}

.onlyEven {
    color: black;
    border: 2px solid darkgreen;
    margin: 10px;
}