<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
            <br><br>
            <div *ngIf="onlyOdd">
                <ul class="list-group">
                    <li *ngFor="let i of odd" class="list-group-item" [ngClass]="{onlyOdd: i % 2 !== 0}">
                        {{i}}
                    </li>
                </ul>
            </div>
            <div *ngIf="!onlyOdd">
                <ul class="list-group">
                    <li *ngFor="let j of even" class="list-group-item" [ngClass]="{onlyEven: j % 2 === 0}" [ngStyle]="{backgroundColor: j % 2 === 0 ? 'yellow' : ''}">
                        {{j}}
                    </li>
                </ul>
                <h1 appBasicHighlighter>Own Directive styles</h1>
                <h1 appBestpracticeHighlight [defaultColor]="'lime'" [highlightColor]="'orange'">best practice Directive styles</h1>
            </div>

            <ng-template [ngIf]=" onlyOdd ">
                <p>Only odd</p>
            </ng-template>
        </div>
    </div>
</div>